
<div id="page-main-content">
	 
		<div class="section">

			<div class="line">
				<div class="fullwidth margin-bottom-20">
					<h1 class="text-center">會員登入</h1>
					<hr class="break-small break-center">
				</div>
			</div>
		
			<div class="line">
				<div class="margin">
					<div class="s-12 m-offset-3 m-6 l-offset-4 l-4">
						<div class="fullwidth">

				<ul class="error__login" style="padding:0">
						<% flash.each do |type, message| %>
							 
							  <li class="user_error_field"> <%= message %></li>    
						<% end %> 
				 
				</ul> 		

                <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: {class: "customform"}) do |f| %>
                <div class="margin-bottom-30">
 
                      <%= f.email_field :email, autofocus: true, 
                        autocomplete: "email" ,placeholder:"Email"%>
                        
                      <%= f.password_field :password,
                        autocomplete: "current-password" ,placeholder:"密碼"%>

     						</div>
								
								<input type="submit" value="登入" class="margin-bottom-30" />
								<div class="right text-right">

							 
								</div>
								<input type="hidden" name="redirect" value="/users/sign_in" />
                <% end %>

                <%= render "users/shared/links" %>
                

					


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
	ul.error__login {
		border:#fe799d; 
		color:#fe799d; 
		padding:0; 
		margin-bottom: 20px;
	}
	</style>