 

<%=form_for [:admins,@category] do |f|%>
<div class="form-group">
  <%=f.label :name , 'Category Name'  %>
  <%=f.text_field :name , class: "form-control"%>
</div>

 




<div class="form-group">
  <label for="parent_category">Upper  Category</label>
  <select name="category[parent_id]" id="parent_category"  class="form-control"   >
      <option value="-1">none</option>
    <% @categories_parentable.each do |c| %>
    <option value=<%= c.id %> <%= c.id.to_s==params[:id].to_s ||@category.has_child? ? 'disabled' : '' %>> <%=c.name%></option>
    <%end%>
  </select>
  <span style="color:#c7c5c5;"> <%=@category.is_child? ? ''  : "Top category that has child can't  have parent."%> </span>
</div>


<div class="row">
  <div class="col-md-6">
      <%=f.submit 'Submit', class: 'btn btn-primary'%>
  </div>
  
  <div class="col-md-3 ">
      <label for="category_image" class="btn btn-default">Choose Category Image</label>
      <%=f.hidden_field :image, value: @category.cached_image_data , id:"hidden_image"%>
      <!-- <input type="file" onchange="" style="display:none;"  name="category[image]" id="image_upload"> -->
      <%=f.file_field :image ,onchange:"readURL(this)" , style:"display:none;"%>
      <div class="thumbnail">         
      <img id="img_prev" src="<%=@category.image_url(:small)%>" alt="your img_prev" class="img-rounded"   />
    </div>
  </div>
</div>

<%end%>




<%content_for :js do%>
  <script>
   function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev')
            .attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    } 
  </script>
<%end%>


<style>
.thumbnail{
  height:auto;
}
</style>




