<div id="page-main-content">
  <!-- HEADER START -->
  <div class="section">
    <form
      id="checkout-form"
      method="post"
      action="/orders"
      class="customform payform"
      onsubmit=" event.preventDefault(); order_validate(this);"
    >
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div id="content" class="line">
        <h1 class="text-center">結帳</h1>

        <hr class="break-small break-center" />
        <div class="s-12 m-12 l-8 padding-right-30">
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>結帳選項</h4>
              <hr class="break-small" />
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <input
                    type="text"
                    name="order[last_name]"
                    value=""
                    placeholder="姓氏"
                    id="input-payment-lastname"
                  />
                  <span class="error-last-name"></span>
                </div>
                <div class="s-12 m-6 l-6">
                  <input
                    type="text"
                    name="order[first_name]"
                    value=""
                    placeholder="名字"
                    id="input-payment-firstname"
                  />
                  <span class="error-first-name"></span>
                </div>
              </div>
              <div class="fullwidth">
                <input
                  type="tel"
                  name="order[phone]"
                  value=""
                  placeholder="電話"
                  id="input-telephone"
                />
                <span class="error-phone"></span>
              </div>
              <div class="fullwidth">
                <input
                  type="text"
                  name="order[email]"
                  value=""
                  placeholder="E-Mail（帳號）"
                  id="input-email"
                />
                <span class="error-email"></span>
              </div>

              <div class="delivery_address">
                  <div class="city-selector-set">
                      <div class="s-12 m-12 l-4">
                        <!-- 縣市選單 -->
                        <select class="county" name="order[zone]" style="height: 54px;"></select>
                      </div>
                      <div class="s-12 m-6 l-4">
                        <!-- 區域選單 -->
                        <select class="district" name="order[city]" style="height: 54px;"></select>
                      </div>
                      <div class="s-12 m-6 l-4">
                        <!-- 郵遞區號欄位 (建議加入 readonly 屬性，防止修改) -->
                        <input
                          style="line-height: 24px;"
                          class="zipcode"
                          type="text"
                          size="3"
                          readonly
                          placeholder="郵遞區號"
                          name="order[post_code]"
                        />
                      </div>
                      <span class="error-zone"></span>
                    </div>
      
                    <!-- address Combo -->
      
                    <div class="fullwidth">
                      <input
                        type="text"
                        name="order[address]"
                        value=""
                        placeholder="地址"
                        id="input-payment-address-1"
                      />
                    </div>
              </div>
              <div class="fullwidth">
                <textarea
                  id="input-comment"
                  name="order[comment]"
                  rows="5"
                  placeholder="備註"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>運送方式</h4>
              <hr class="break-small" />
              <div class="fullwidth">
                <p>請選擇一個運送方式。</p>

                <input type="hidden" name="delivery[price]" value="" />

                <div class="s-12 m-6 l-6">
                    <div class="radio">
                        <label>
                          <input
                            type="radio"
                            name="delivery[kind]"
                            value="flat"
                            checked
                            delivery-price="60"
                          />
                          郵寄/宅配
                        </label>
                      </div>
                  <div class="radio">
                    <label>
                      <input
                        type="radio"
                        name="delivery[kind]"
                        value="face_to_face"
                        delivery-price="0"
                      />面交
                    </label>
                  </div>
                </div>

                 
              </div>
            </div>
          </div>
        </div>

        <div class="s-12 m-12  l-4">
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>折價券</h4>
              <hr class="break-small" />
              <div class="margin">
                <div class="s-12 m-6 l-7">
                  <input
                    type="text"
                    name="order[coupon]"
                    value=""
                    placeholder="折價券代碼"
                    id="input-coupon"
                  />
                  <span id="coupon-error" style="   color:#c66185;display : none;"
                    >Coupon does not exists!!</span
                  >
                </div>
                <div class="s-12 m-6 l-5">
                  <a class="button" href="javascript:(0)" id="button-coupon">
                    使用優惠券
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>訂單內容</h4>
              <hr class="break-small" />
              <% @cartList.each do |product|%> <% product =
              HashWithIndifferentAccess.new(product)%>
              <div class="margin-bottom text-size-16">
                <a href="/product/<%=product[:id]%>"> <%=product[:name]%> </a>
                <p class="line">
                  <span class="left">
                    <span><%=product[:num]%></span> x TWD$<span
                      class="single-price"
                    >
                      <%=product[:price]%>
                    </span>
                  </span>
                  <span class="right">
                    <span>小計:</span> TWD$
                    <span> <%= product[:product_total_price]%></span>
                  </span>
                </p>
              </div>
              <%end%>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>結帳明細</h4>
              <hr class="break-small" />
              <div id="total-table">
                <p class="margin-bottom text-size-16">
                  商品小計:
                  <span class="right">
                    TWD$<span class="total-price" id="total-price">
                      <%=@total%></span
                    >
                  </span>
                </p>
                <div id="discount-row"></div>
                <div id="delivery-row"></div>
                <p class="margin-bottom text-size-16">
                  訂單總計:
                  <span class="right">
                    TWD$<span class="final-price" id="final-price">
                      <%=@total%></span
                    >
                  </span>
                </p>
              </div>

              <template id="discount-content">
                <p class="margin-bottom text-size-16">
                  <span>折扣碼優惠</span>:
                  <span class="right">
                    -TWD$<span class="discount-price" id="discount-price">
                      {{ discount }}
                    </span>
                  </span>
                </p>
              </template>

              <template id="delivery-content">
                <p class="margin-bottom text-size-16">
                  <span>運費</span>:
                  <span class="right">
                    TWD$<span class="delivery-price" id="delivery-price">
                      {{ delivery }}
                    </span>
                  </span>
                </p>
              </template>

              <button type="submit" class="btn-style">確認</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%content_for :footer_js do %>
<script>
  function setUpDelivery() {
    let deliveryPriceField = $('[name="delivery[price]"]');
    let deliveryPrice = $('input[name="delivery[kind]"]:checked').attr(
      "delivery-price"
    );
    deliveryPriceField.val(deliveryPrice);

    let deliveryTemplate = $("#delivery-content").html();
    let replaced_template = deliveryTemplate.replace(
      "{{ delivery }}",
      deliveryPrice
    );
   
    $("#delivery-row").html(replaced_template);
    let final =
            parseInt($("#total-price").text()) +
            parseInt($("#delivery-price").text());
          $("#final-price").text(final);
  }

  setUpDelivery();
  
  $('input[name="delivery[kind]"]').on("change", function(e) {
    setUpDelivery();
    
  });
</script>
<script>
  $("#checkout-form").keydown(function(event) {
    if (event.keyCode == 13) {
      event.preventDefault(); //prevent Enter
    }
  });
  $("#button-coupon").on("click", function() {
    let coupon_code = $("#input-coupon");
    $.ajax({
      type: "POST",
      url: `/coupons/check`,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(
          "X-CSRF-Token",
          $('meta[name="csrf-token"]').attr("content")
        );
      },
      data: { code: coupon_code.val() },
      success: function(res) {
        let discount_template = $("#discount-content").html();
        let replaced_template = discount_template.replace(
          "{{ discount }}",
          res.discount
        );

        if (res.success == "true") {
          $("#discount-row").html(replaced_template);
          $("#coupon-error").hide();

          let final =
            parseInt($("#total-price").text()) -
            parseInt($("#discount-price").text());
          $("#final-price").text(final);

          toastr.options = {
            positionClass: "toast-top-left",
            timeOut: 5000
          };
          toastr.success("Coupon has already  been applied", "Success!");
        } else {
          $("#discount-row").html("");
          $("#coupon-error").show();
          $("#final-price").text($("#total-price").text());
        }
      }
    });
  });
</script>

<script type="text/javascript">
  let delivery = $("[name='delivery[kind]']");
  
  delivery.on("change", function() {
    if ($(this).val()=='face_to_face'){
      $('.delivery_address').hide()
    }else{
      $('.delivery_address').show()
    }
  });
</script>
<%end%>
<style>
[class^='error']{
  color:#c66185; 
  display: block;
  margin-top: -10px;
}
</style>