<!-- slideshow item  -->
<div class="item">
    <div class="fullwidth">
        <figure class="imghvr-reveal-down">
            	
            <%if product.image[0]%>
            <img src="<%=product.image[0].image_url :original%>" >
            <%else%>
            <img src="/default-product.png" >
            <%end%>

            <figcaption>
                <div class="product-hover-content">
                    <div class="btn-box">
                        <a href="/products/<%= product.id%>" class="btn">更多細節</a>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="fullwidth">
        <h5 class="text-center"><%=product.name%></h5>
        <p class="list_price">
            <span class="text-primary">TWD$<%=product.price.to_i-product.discount_value.to_i%></span> <span class="strike">TWD$<%=product.price%></span>
        </p>
        <!-- <p class="text-center"><span class="text-dark-light">Starting from</span> - <span class="text-primary">$299</span></p> -->
    </div>
</div>