<div class="s-12 m-4 l-3 margin-bottom-30">
        <div class="margin">
            <div class="fullwidth">
                <figure class="imghvr-reveal-down">
                    <%if product.image[0]%>
                    <img src="<%=product.image[0].image_url(:small)%>" alt="<%= product.name%>"
                        title="<%= product.name%>" class="img-responsive" />
                    <%else%>
                     <img src="/default-product.png" alt="">
                    <%end%>
                    <figcaption>
                        <div class="product-hover-content">
                            <div class="btn-box">
                                    <a href="/products/<%=(product.id)%>"class="btn">更多細節</a>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>

            <div class="fullwidth">
                <a href="/products/<%=(product.id)%>">
                    <h5>
                       <%= product.name%></h5>
                    <p class="list_price">
                        <%if product.discount_value.to_i !=0%>
                            <span class="text-primary">TWD$<%= product.price.to_i-product.discount_value.to_i%></span>  
                            <span class="strike">TWD$<%=product.price%> </span>
                        <%else%>
                        <span class="text-primary">TWD$<%=product.price%> </span>
                        <%end%>
                      
                    </p>
                </a>
            </div>
        </div>
</div>