<div id="page-main-content">

    <!-- PAGE CONTENT START -->
    <div class="section">
        <!-- heading and description -->
        <div class="line">
            <div class="margin">
                <div class="fullwidth">
                    <h1 class="text-center"><%=@category.name%></h1>
 
                    <hr class="break-small break-center">
                    <div class="customform right">
                            <%last_url = request.original_url.split('?').first%>
                          
                                <select id="input-sort" onchange="location = this.value;">
                                    <option value='<%= "#{last_url}"%>' >預設</option>
                                    
                                    <option value='<%= "#{last_url}?order=ASC&sort=price"%>'
                                            <%= params[:order]=='ASC' && params[:sort]=='price'? 'selected' :'' %>>依照價格(A-Z)</option>
                                    
                                    <option value='<%= "#{last_url}?order=ASC&sort=name"%>'
                                            <%= params[:order]=='ASC' && params[:sort]=='name' ? 'selected' :'' %>>依照名稱（A-Z)</option>

                                    <option value='<%= "#{last_url}?order=ASC&sort=sku"%>'
                                            <%= params[:order]=='ASC' && params[:sort]=='sku' ? 'selected' :'' %>>依照型號（A-Z)</option>

                                    <option value='<%= "#{last_url}?order=DESC&sort=price"%>'
                                            <%= params[:order]=='DESC' && params[:sort]=='price' ? 'selected' :'' %> >依照價格(Z-A)</option>
                                        
                                    <option value='<%= "#{last_url}?order=DESC&sort=name"%>'
                                            <%= params[:order]=='DESC' && params[:sort]=='name' ? 'selected' :'' %>>依照名稱（Z-A)</option>

                                    <option value='<%= "#{last_url}?order=DESC&sort=sku"%>'
                                            <%= params[:order]=='DESC' && params[:sort]=='sku' ? 'selected' :'' %>>依照型號（Z-A)</option>
                                
                                
                                </select>
                            </div>
                </div>
            </div>
        </div>
        
        <!-- products -->
        <div class="line">
     
            <div class="margin productlist">


                <!-- product 1 -->
                
                <%= render 'products' , products:@products %>
               
                <!-- <div class="margin">
                            <div class="fullwidth text-center">
                                <ul class="pagination pagination_dark">
                                    <li><a href="index.php?route=product%252Fcategory&amp;path=78&amp;">|&lt;</a></li>
                                    <li><a href="index.php?route=product%252Fcategory&amp;path=78&amp;">&lt;</a></li>
                                    <li><a href="index.php?route=product%252Fcategory&amp;path=78&amp;">1</a></li>
                                    <li class="active"><span>2</span></li>
                                </ul>
                            </div>
                        </div> -->
                <!-- <div class="text-center">Paginator</div> -->
                <div class="text-center">
                        <%= paginate @products  %>
                </div>


            </div>
        </div>

    </div>
    