
 



<div id="page-main-content">
  
   
    <div class="section">

        <div class="line">
            <h1 class="text-center">會員中心</h1>
            <hr class="break-small break-center">
            <div class="row">
                <%= render 'users/shared/aside'%>
                <div id="content" class="col-sm-9 col-sm-pull-3">
<!--                         
                        <ul id="user_error_explanation">
                                <% @user.errors.full_messages.each do |msg| %>
                                <li class="user_error_field"> <%= msg %></li>    
                                <% end %>
                        </ul> -->
                            
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                        html: { method: :put ,class: "customform payform"}) do |f| %>
                        
                        <div class="margin-bottom-30 padding border-1">
                            <div class="line">
                                <h4>個人資料</h4>
                                <hr class="break-small">
                                <div class="margin">
                                    <div class="s-12 m-6 l-6">
                                        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"姓" %>
                                    </div>
                                    <div class="s-12 m-6 l-6">
                                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"名" %>
                                    </div>
                                </div>
                                <div class="fullwidth">
                                    <%= f.text_field :telephone, autofocus: true, autocomplete: "telephone", placeholder:"連絡電話" %>
                                </div>
                                <div class="fullwidth">
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"電子郵件",
                                    class: @user.errors.messages[:email].length>0 ? 'error-input' : '' %>

                                    <% if @user.errors.messages[:email] -%>
                                    <span class="error_message" ><%= @user.errors.messages[:email][0]%></span>
                                    <%end%>
    
                                </div>
                                <div class="fullwidth">
                                    <%= f.text_field :address, autofocus: true, autocomplete: "address",placeholder:"地址" %>
                                </div>
                                <div class="fullwidth">
                                        <%= f.password_field :password, autocomplete: "new-password",placeholder:"新密碼 (最多"+@minimum_password_length.to_s+"碼,如不修改則留空即可)",
                                        class: @user.errors.messages[:password].length>0 ? 'error-input' : '' %>

                                        <% if @user.errors.messages[:password_confirmation] -%>
                                            <span class="error_message" ><%= @user.errors.messages[:password_confirmation][0]%></span>
                                        <%end%>
                                        
                                </div>
                                <div class="fullwidth">
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"確認新密碼" ,
                                    class: @user.errors.messages[:password_confirmation].length>0 ? 'error-input' : '' %>

                                    <% if @user.errors.messages[:password_confirmation] -%>
                                        <span class="error_message" ><%= @user.errors.messages[:password_confirmation][0]%></span>
                                    <%end%>
                                    
                                </div>

                                <div class="fullwidth">
                                        <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"目前密碼",class: @user.errors.messages[:current_password].length>0 ? 'error-input' : ''  %>
                                          
                                        <% if @user.errors.messages[:current_password] -%>
                                        <span class="error_message" ><%= @user.errors.messages[:current_password][0]%></span>
                                        <%end%>
                                </div>
                            </div>
                        </div>
                        
                        <div class="buttons clearfix">
                                <div class="pull-left"><a href="/" class="btn btn-default ">Back</a></div>
                            <div class="pull-right">
                                    <%= f.submit "Update" %>
                            </div>
                        </div>
                    <% end %>
                    <style>
                        .error_message{
                            margin-top: -10px;
                        }
                        .btn{
                            border: 1px solid #716b6c; 
                            border-radius: 0;
                            padding: 0.900rem 1.2rem;

                        }
                        .btn:hover{
                            background: #3e3a3a;
                            color:white;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>
 
