 
 

<div id="page-main-content">
        
    <div class="section">
        
        <div class="line">
            <div class="margin">
                <div class="s-12 m-offset-2 m-8 l-offset-3 l-6">

                    <div class="fullwidth">
                        <h1>加入會員</h1>
                        <hr class="break-small">

                    </div>

                    <div class="fullwidth margin-bottom-20"><a href="/users/sign_in" class="text-primary margin-bottom-20">已經是會員？按此登入</a> 
                    </div>
                   
                    <div class="fullwidth">
                       
                             
<!--                                     
                            <ul id="user_error_explanation">
                                
                                <% @user.errors.full_messages.each do |msg| %>
                                <li class="user_error_field"> <%= msg %></li>    
                                <% end %>
                            </ul> -->
                            
                            
                           
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: {class: "customform"}) do |f| %>
                            <div class="margin">
                                <div class="s-12 m-6 l-6">
                                    <input type="text" name="user[last_name]" value="<%=resource['last_name']%>" placeholder="姓氏"  />
                                </div>
                                
                                <div class="s-12 m-6 l-6">
                                    <input type="text" name="user[first_name]" value="<%=resource['first_name']%>" placeholder="名字"  />
                                </div>
                            </div>
                            <div class="fullwidth">
                                <input type="tel" name="user[telephone]" value="<%=resource['telephone']%>" placeholder="聯絡電話" />
                            </div>
                            <div class="fullwidth">
                                <input type="email" name="user[email]" value="<%=resource['email']%>" class="<%= @user.errors.messages[:email].length>0 ? 'error-input' : '' %>" placeholder="Email 信箱（帳號）"   />
                                <% if @user.errors.messages[:email].length>0 %>
                                <span class="error_message"><%= @user.errors.messages[:email][0]%></span>
                                <%end%>
                            </div>
                                  
                            <div class="fullwidth">
                                <input type="text" name="user[address]" value="<%=resource['address']%>" placeholder="地址" />
                            </div>


                            <div class="margin">
                                <div class="s-12 m-6 l-6">
                                    <input type="password" name="user[password]" class="<%= @user.errors.messages[:password].length>0 ? 'error-input' : '' %>" value="" placeholder="密碼" />
                                    <% if @user.errors.messages[:password].length>0 %>
                                    <span class="error_message"><%= @user.errors.messages[:password][0]%></span>
                                    <%end%>
                                </div>
                                <div class="s-12 m-6 l-6">
                                    <input type="password" name="user[password_confirmation]"  class="<%= @user.errors.messages[:password_confirmation].length>0 ? 'error-input' : '' %>"  value="" placeholder="確認密碼" />
                                    <% if @user.errors.messages[:password_confirmation].length>0 %>
                                    <span class="error_message"><%= @user.errors.messages[:password_confirmation][0]%></span>
                                    <%end%>
                                </div>
                            </div>
 
                            <div class="fullwidth">

                                <div class="buttons">
                                    <div class="pull-right">
                                        <%= f.submit "Sign up" %>
                                    </div>
                                </div>
                            </div>

                        <%end%>

                        <style>
                         .error_message{
                            margin-top: -45px;
                         }
                        </style>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

  